<%include ../partials/header%>
<div id="bg-overlay">
    <img src="/images/aboutus-img.jpg" alt="">
    <div class="overlay-caption mt-4 text-info bg-transparent">

        <h1 class="res-text-lg">E-mail confirmation</h1>
    </div>
</div>
<main class="text-center" style="margin-bottom:100vh;">
    <small><p>An email has been sent to the email you provided, please login to your email and confirm to enable you carry out transactions</p></small>

</main>


<%include ../partials/footer%>