<%include partials/header%>
<div id="bg-overlay" style="height:100vh;">
    <img src="/images/bck-img.jpg" alt="" style="height:100vh;">
    <div class="overlay-caption text-center text-white bg-transparent">

        <h1 class="res-text-lg mt-4" style="text-shadow: 1px 2px black">ooops!!!!</h1>
        <h4 class="res-text-md" style="text-shadow: 1px 2px black">page not found</h4>
        <a href="/" class="btn btn-warning">go to home</a>
    </div>
</div>



<%include partials/footer%>