<%include ../partials/header%>
<div id="bg-overlay">
    <img src="/images/banking-img.jpg" alt="">
    <div class="overlay-caption text-info bg-transparent">

        <h1>banking for companies</h1>
        <h4>expand your business beyond borders</h4>
    </div>
</div>
 <main>
    <section class="row container-fluid mt-3">
        <div class="col-lg-6 section text-info text-center mt-lg-0 mt-2">
            <div class="shadow p-3 e-col w-100">
             <h4 class="section__title">why choose us?</h4>
             <h6>locally rooted, globally aware</h6>
             <p class="section__body">We combine local-market knowledge with an
                  unmatched network spanning Europe. So whether you’re focusing on your core market, or expanding overseas,
                  we really do offer the best of both worlds.</p>  
            </div>              
        </div>
        <div class="col-lg-6 section text-center d-sm-none d-md-block shadow">
             <img class="section__image" src="/images/c-banking.jpg" alt="">
        </div>
     </section>
     <section class="row container-fluid mt-3">
           
            <div class="col-lg-6 section text-center d-sm-none d-md-block shadow">
                 <img class="section__image" src="/images/c-banking-1.jpg" alt="">
            </div>
            <div class="col-lg-6 section text-info text-center mt-lg-0 mt-2">
                <div class="shadow p-3 e-col w-100">
                        <h4 class="section__title">banking your ecosystem</h4>
                        <p class="section__body">We don’t just serve your business finances –
                             we also support your whole chain of suppliers and buyers. We believe that by working with all parts of your ecosystem,
                             we give you the best possible chance to succeed.</p> 
                </div>
                              
               </div>
         </section>
         <br>
         <section>
                <h3 class="section__title text-center mb-3">solutions for companies of all sizes</h3>
                <img src="/images/small-businesses.jpg" height="420px" width="100%" alt="">
                <div class="bg-info p-5 text-white">
                    <h4>small businesses</h4>
                    <p>Our services make banking easy and transparent whilst providing solutions that
                         support your business growth.
                         This means you can focus on what matters most to you – growing your business.</p>
                </div>
                <br>
                
                <img src="/images/big-companies.jpg" height="480px" width="100%" alt="">
                <div class="bg-info p-5 text-white">
                <h4>medium and large businesses</h4>
                <p>
                        From fast-growing firms to the world's biggest multinationals,
                         we offer a wide range of highly specialised services designed for your complex business needs.
                         It's all down to our global network.
                </p>
            </div>
         </section>

 </main>


<%include ../partials/footer%>