<%include ../partials/header%>
<div id="bg-overlay">
    <img src="/images/banking-img.jpg" alt="">
</div>
<h4 class="text-center text-success"><%= error %></h4>
<main class="justify-content-center row container-fluid">
    <h3 class="text-center display-4">transaction details</h3>
    <form id="trans_form" class="w-75 p-5 mt-3" action="/banking/<%=user._id%>/debit" method="POST">
        <div class="form-group row">
            <div class="col-lg-4">

                <label for="recipent_bank">recipent bank:</label>
            </div>
            <div class="col-lg-8">
                <input id="recipent_bank" class="form-control" name="trans[recipient_bank]" type="text" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-4">

                <label for="bnk_addy">bank address:</label>
            </div>
            <div class="col-lg-8">
                <input id="bnk_addy" name="trans[bank_address]" class="form-control" type="text">
            </div>

        </div>
        <div class="form-group row">
                <div class="col-lg-4">
    
                    <label for="bnk_acc">recipient account number</label>
                </div>
                <div class="col-lg-8">
                    <input id="bnk_acc" name="trans[account_number]" class="form-control" type="number">
                </div>
    
            </div>
        <div class="form-group row">
            <div class="col-lg-4">
                <label for="recipient_name">recipent name</label>
            </div>

            <div class="col-lg-8">
                <input id="recipient_name" name="trans[recipient_name]" class="form-control" type="text" required>
            </div>
        </div>
      
            
        <div class="form-group row">
            <div class="col-lg-6">
                <label for="trans_amt">transaction amount</label>
            </div>
            <div class="col-lg-6">

                <input id="trans_amt" name="trans[transaction_amount]" class="form-control" type="number" required>
            </div>
        </div>
        <!-- <div class="form-group row">
            <div class="col-lg-4">
                <label for="date">date:</label>
            </div>
            <div class="col-lg-8">

                <input id="date" name="trans[date]" class="form-control" type="text" value="<%=new Date(Date.now()).toLocaleString()%>">
            </div>
        </div> -->
        <div class="form-group row">
            <div class="col-lg-6">
                <label for="date">Transaction Date:</label>
            </div>
            <div class="col-lg-6">
                <input id="date" name="trans[date]" class="form-control" type="date">
            </div>
        </div>
        <div class="form-group row">
                <div class="col-lg-6">
                    <label for="routing">Routing:</label>
                </div>
                <div class="col-lg-6">
    
                    <input id="routing" name="trans[routing]" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group row">
                    <div class="col-lg-6">
                        <label for="swift">Swift Code:</label>
                    </div>
                    <div class="col-lg-6">
        
                        <input id="swift" name="trans[swift]" class="form-control" type="text" required>
                    </div>
                </div>
        <div class="form-group row">
            <div class="col-lg-4">
                <label for="details">details:</label>
            </div>
            <div class="col-lg-8">

                <textarea id="details" name="trans[details]" class="form-control"   cols="10" rows="5"></textarea>
            </div>
        </div>
       
        <div class="form-group row">
            <div class="col-lg-1">
                <label for="net">Net:</label>
            </div>
            <div class="col-lg-3">
                <input id="net" name="trans[net]" class="form-control" type="number" >
            </div>
            <div class="col-lg-1">
                <label for="tax">tax:</label>
            </div>
            <div class="col-lg-3">  
                <input id="tax" name="trans[tax]" class="form-control" type="number" >
            </div>
            <div class="col-lg-1">
                    <label for="total">total:</label>
                </div>
                <div class="col-lg-3"> 
                    <input id="total" name="trans[total]" class="form-control" type="number" >
                </div>
        </div>
        <div class="row justify-content-center">
                <button class="btn btn-success">submit</button>
        </div>

        
        
        
    </form>
</main>



<%include ../partials/footer%>
