<%include ../partials/header%>
<div id="bg-overlay">
        <img src="/images/banking-img.jpg" alt="">
        <div class="overlay-caption text-info bg-transparent">
    
            <h1>bank with us</h1>
            <h4>we walk with you each step of the way</h4>
        </div>
    </div>
<main>
        <section class="container-fluid text-center">
                <h2 class="display-4 section__title">A long-term partner you can always trust</h2>
                <p class="section__body">With a stable foundation and a long-lasting business plan, we are here for you when ever and where ever you are. By
                    keeping in stride with the ever changing global trend and market, we make sure your investments are protected in a changing world.
                </p>
            </section>
    <section class="container-fluid text-center">
        <h1 class="display-4 bg-dark text-light">we are here for <span class="text-info display-3">you!</span> </h1>
        <br>
        <div class="row">
            <div class="col-lg-3 align-self-start">
                    <img class="text-left section__image" src="/images/24-hours.jpeg" alt="">
            </div>
            <div class="col-lg-9 text-right align-self-end pl-5">
                    <h4 class="section__title">24 hours service</h4>
                    <p class="section__body pl-3">When it comes to managing your finances,
                            relationships matter. That’s why we offer market
                            24/7 customer support that provides the help you need whenever you need it.</p>
            </div>
        </div>
        <div class="my-5 section__body">
                <h4 class="section__title display-3">international banking</h4>
                <p>Whether you’re travelling, settling or investing overseas, 
                    our global&nbsp;banking network offers many opportunities for you to 
                    tap into.
                     From wealth management to property financing and more.</p>
        </div>
        <div class="row">
                <div class="col-lg-3 align-self-start">
                        <img class="text-left section__image" src="/images/innovative-img.jpg" alt="">
                </div>
                <div class="col-lg-9 text-right align-self-end pl-5">
                        <h4 class="section__title">innovative solutions</h4>
                        <p class="section__body pl-3">In today’s world, 
                            the way we manage our finances is changing fast.
                             That’s why we use the latest technology to create innovative products 
                             and services that are quick,
                             flexible and easy to use.</p>
                </div>
            </div>
            <div class="my-5 section__body">
                    <h4 class="section__title display-3">personal banking</h4>
                    <p>Wherever you are in your life, enjoy a better banking
                         experience with our comprehensive Personal Banking solutions,
                          designed to help you save, spend and get rewarded for your relationship with us. From savings accounts to your first home mortgage or child’s education fund, we offer a full range of services to meet your evolving financial needs.
                         Simpler, smarter banking.</p>
            </div>
            <div class="row">
                    <div class="col-lg-3 align-self-start">
                            <img class="text-left section__image" src="/images/access-img.jpg" alt="">
                    </div>
                    <div class="col-lg-9 text-right align-self-end pl-5">
                            <h4 class="section__title">Access on the go</h4>
                            <p class="section__body pl-3">Enjoy quick and easy 
                                access to all your accounts on the go with our award-winning online and mobile banking services.
                                 Giving you the time and flexibility to do more of what you love..</p>
                    </div>
                </div>
    </section>
    <br>
    
</main>

<%include ../partials/footer%>