<%include ../partials/header%>
<div id="bg-overlay">
    <img src="/images/aboutus-img.jpg" alt="">
    <div class="overlay-caption mt-4 text-info bg-transparent">

        <h1 class="res-text-lg">about us</h1>
        <h4 class="res-text-md">insights on who we are and what we do</h4>
    </div>
</div>
    <main>
        <section class="w-25 h-25 mx-auto">
            <img class="img-fluid" src="/images/Sajjal Bank 2 PNG.png" alt="">
        </section>
        <section class="rounded mt-3 p-5 bg-primary container text-white text-center">
            <h4>as a leading international bank, we carter to people in europe</h4>
            <br>
            <h1>who we are and what we do</h1>
            <p>We offer banking services that help people and companies to succeed, by leading them towards the path of
                 creating wealth and growth in their individual and cooperate lives.
                  Our heritage and values are expressed in our brand promise – your leading banking partner.
                  With more than 12,000 employees in more than 20 markets, 
                    we have over a 10-year history in some of the world’s most dynamic regions.</p>
        </section>
        <section class="mt-5 container text-info text-center">
            <h2 class="text-info res-text-lg">driving prosperity and innovation</h2>
            <p>with our many outifts and industrial schemes, we aid in improving the wealth of our customers
                    and building on the ideas of our youths in the society.
                </p>
                <br>
            <div class="row rowfix">
                <div class="col-lg-6">
                    <h3 class="text-info">Using our unique diversity</h3>
                    <img class="img-fluid section__image" src="/images/diversity-img.jpg" alt="">
                    <p>We make the most of our deep roots in rapidly developing Asian,
                         African and Middle Eastern local markets to seek out opportunities at every turn. 
                         Placing a particular focus on supporting customers who trade,
                          operate or invest across our footprint. We use this to give you the best possible customer experience,
                           whether you’re an individual looking for easy, fast and convenient banking services,
                         or a multinational corporation with highly complex financing needs</p>
                </div>
                <br>
                <div class="col-lg-6">
                        <h3 class="text-info">Promoting good growth</h3>
                        <img class="img-fluid section__image" src="/images/growth-img.jpg" alt="">
                    <p>As the economies in our core markets grow, so does the need for sophisticated financial services.
                         We believe it’s crucial to help our customers adhere to global standards of conduct and compliance.
                          Wherever we operate, we aim to support sustainable economic and social development.
                           We do this through our core business of banking, ensuring a strong conduct framework,
                         investing in our people and working with local partners to deliver community programmes.</p>
                </div>
            </div>
        </section>
        <div id="main-info" class="container text-white">
                <div class="row">
                    <div class="col-lg-6">
                        
                    <div class="col-lg-6">
                            <h4>contact us:</h4>
                            <form action="">
                                    <div class="form-group">
                                            <label for="">Name</label>
                                            <input class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                            <label for="">E-mail</label>
                                            <input class="form-control" type="email">
                                    </div>
                                    <div class="form-group">
                                            <p>Message</p>
                                            <textarea name="" id="" cols="30" rows="5" class="p-2"></textarea>
                                    </div>
                                    <button class="btn btn-success">submit</button>
                            </form>
                    </div>
                
                </div>
        </div>
    </main>
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5cc1b1bcd6e05b735b4442f2/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
<%include ../partials/footer%>
