<%include ../partials/header%>
<div id="bg-overlay">
    <img src="/images/aboutus-img.jpg" alt="">
    <div class="overlay-caption mt-4 text-info bg-transparent">

        <h1 class="res-text-lg">privacy policy</h1>
    </div>
</div>
<main class="container-fluid mt-4">
    <p class="shadow p-4">This privacy policy relates to the collection, use and disclosure of your Personal Data by any member of the Sajjal Bank Group (“SB”, “we” or “our”).
        Personal Data comprises all the details SCB holds or collects about you, directly or indirectly, your transactions, financial information, interactions and dealings with SCB, including information received from third parties and information collected
         through use of our website and our electronic banking services.</p>
    
    <div class="container-fluid shadow p-3">
            <h4>Purposes for which we may handle your Personal Data</h4>
            <p>
                    The purposes for which we may handle your Personal Data include the following:
                    </p>
                    <ul class="p-3 list">
                        <li>processing applications for products and services, effecting payments, transactions and completing instructions or requests</li>
                        <li>providing products and services (including electronic banking service)</li>
                        <li>credit assessment, including conducting credit checks and setting credit limits</li>
                        <li>assessing suitability for products and services</li>
                        <li>operational purposes</li>
                        <li>conducting market research and surveys with the aim of improving our products and services</li>
                        <li>to comply with: local or foreign law, regulations, voluntary codes, directives, judgments or court orders, agreements between any member of the Sajjal Bank Group and any authority, regulator, or enforcement agency; policies (including the Sajjal Bank Group’s policies), good practice, government sanctions or embargoes, reporting requirements under financial transactions legislation, and demands or requests of any authority,
                             regulator, tribunal, enforcement agency, or exchange body</li>
                    </ul>
    
    </div>
    <div class="container-fluid shadow p-3 mt-3">
       <h4>To whom we may disclose Personal Data</h4>
        <ul class="p-3 list">
               <li> any member of the sajjal bank group anywhere in the world, including any officer, employee, agent or director
                    professional advisers (including auditors), third party service providers, agents or independent contractors providing services to support SB’s business</li>
               <li> any person to whom disclosure is allowed or required by local or foreign law, regulation or any other applicable instrument</li>
                <li>any court, tribunal, regulator, enforcement agency, exchange body, tax authority, or any other authority (including any authority investigating an offence) or their agents</li>
               <li> any debt collection agency, credit bureau or credit reference agency, rating agency correspondents, insurer or insurance broker, direct or indirect provider of credit protection and fraud prevention agencies</li>
               <li>
                    any financial institution to conduct credit checks, anti-money laundering related checks, for fraud prevention and detection of crime purposes</li>
                <li>  anyone we consider necessary to facilitate requests for services or applications for products with any member of the Sajjal Bank Group</li>
                <li>anyone we consider necessary in order to provide services in connection with a product located in any jurisdiction.</li>
        </ul>
    </div>
   <div class="container-fluid mt-3 shadow p-3">
        <h4>Security</h4>
    <p>        The security of your personal data is important to us. SB and all members of the Group comply with technical and organisational security measures to safeguard your personal data. When using external service providers, we require that they adhere to the same security standards as SB. Personal data may be transferred to, or stored at, a location outside of your country of residence. Regardless of where personal data is transferred, we take all steps reasonably necessary to ensure that personal data is kept securely.</p>
        
        <p>You should be aware that the Internet is not a secure form of communication and sending and receiving information over the Internet carries with it risks including the risk of access and interference by unauthorized third parties. Information passing over the Internet may be transmitted internationally (even when sender and recipient are located in the same country) via countries with weaker privacy and data protection laws than in your country of residence. We do not accept responsibility or liability for the confidentiality, security or integrity of your Personal Data in connection with its transmission over the Internet.</p>
        
        <h4>Other terms and conditions</h4>
        <p>
                There may be specific terms and conditions in our banking and product agreements that govern the collection, use and disclosure of your Personal Data. Such other terms and conditions must be read in conjunctions with this Privacy policy.</p>
        
        <h4>Retention </h4>
        <p>We retain your Personal Data for legal, regulatory, business and operational purposes.</p>
        
        <h4>Marketing</h4>
        <p>We will not send you marketing material if you have specifically asked us not to do so.</p>
        
        <h4>Monitoring</h4>
        <p>To the extent permitted by law, we may record and monitor your electronic communications with us to ensure compliance with our legal and regulatory obligations and internal policies for the purposes outlined above.</p>
        
        <h4>Right of access</h4>
        <p>Subject to applicable law, regulations and/or banking industry guidelines, you may have the right to request a copy of the Personal Data processed in relation to you SB may be allowed by law to charge a fee for a copy of personal data.</p>
        
        <h4>Changes to this privacy policy</h4>
        <p>This privacy policy may be updated from time to time and should be reviewed regularly.</p>
   </div>
</main>
<%include ../partials/footer%>