<%include ../partials/header%>
<div id="bg-overlay">
        <img src="/images/aboutus-img.jpg" alt="">
        <div class="overlay-caption mt-4 text-info bg-transparent">
    
            <h1 class="res-text-lg">terms and conditions</h1>
            
        </div>
    </div>

    <main class="container p-3 shadow">
            <h4>Use of this site</h4>
            <p>sajjalbank.com provides you with information on the products and financial services offered by Sajjal and other members of the Sajjal Group, and also provides you with links to the local websites of Sajjal. Your use of this site is governed by these terms of use (“Terms of Use”) and our privacy policy and cookies policy. This is a legally binding agreement between you and Sajjal establishing the terms and conditions under which this site may be used. Your use of the site constitutes your acceptance of these Terms of Use.</p>
            
            <h4>Local sites</h4>
            <p>This site does not allow you to directly purchase our products and financial services. Please refer to your local site for further information on products and services offered in your relevant country. Your use of the local site(s) will be governed by both these site Terms of Use and the terms and conditions set out for the relevant local site. In the event of conflict between (1) these site Terms of Use, and (2) the local site’s terms and conditions, the local site’s terms and conditions shall prevail to the extent of such conflict with respect to your use of the local site(s).</p>
            
            <h4>Products and services</h4>
            <p>The information and material on this site is not an offer, solicitation, invitation, advice or recommendation for products or financial services provided by any Sajjal Group members. The full range of products or services may not be available in all countries. Use of the products or services described on this site may not be permitted in some countries and if in doubt, you should check with your local financial regulator or authority before requesting further information. These products and services may be withdrawn or amended at any time without prior notice.
                Products and services are available only at the discretion of Sajjal or the relevant Sajjal Group company or associate, subject to the individual contractual terms and conditions on which those products and services are offered (“Product Terms and Conditions”). In the event of conflict between (1) these site Terms of Use and/or the local site’s terms and conditions, and (2) the Product Terms and Conditions, the Product Terms and Conditions shall prevail.
            </p>
            <h4>Limitation of liability</h4>
            <p>  Sajjal accepts no liability for any loss or damage (including special, incidental or consequential loss or damage) arising directly or indirectly from your use of the Sajjal sites, howsoever arising from, but not limited to:

                    any defect, error, imperfection, fault, mistake or inaccuracy with Sajjal sites, its contents (including content from third party providers), associated services, or due to any unavailability of this site or any local site or any part thereof or any contents or associated services
                action taken, or not taken in reliance on material, content or information contained on the Sajjal sites
                any computer viruses, Trojan horses, worms, software bombs or similar items or processes arising from your use of the Sajjal sites. You click on any hyperlinks or download any software or data from the Sajjal sites at your own risk.</p>
    </main>
<%include ../partials/footer%>